<h1>Welcome to the Search Page!</h1>
<h2>{{test}}</h2>
<a ng-href="/favorites">Favorites</a>
<form>
	<input type="text" ng-model="tag">
	<input type="submit" ng-click="searchTag(tag)">
</form>
<div class="row" ng-if="photos.length > 0">
  <div class="col-md-3 col-sm-4" ng-repeat="photo in photos">
    <div class="thumbnail">
      <img ng-src="{{photo.images.standard_resolution.url}}">
      <br>
      <p>
        <span class="glyphicon" ng-class="{'glyphicon-heart': photo.likes.count > 0, 'glyphicon-heart-empty': photo.likes.count === 0}"></span>
        <ng-pluralize count="{{photo.likes.count}}" when="{'1': '1 like', 'other': '{} likes'}"></ng-pluralize>
        <span class="pull-right">
          @{{photo.user.username}}
        </span>
      </p>
      <p>
        <a href="javascript:void(0)" ng-click="savePhoto(photo)"> 
          <span class="glyphicon" ng-class="{'glyphicon-star': photo.favorited, 'glyphicon-star-empty': !photo.favorited}"></span>  
          favorite
        </a>
      </p>
    </div>
  </div>
</div>